# Python env / caches
.venv/
__pycache__/

# Local datasets (keep these out of GitHub)
/data/
!docs/data/
!docs/data/*.geojson

# OS junk
.DS_Store
Thumbs.db

# Big artifacts you might create locally
*.mbtiles
*.7z
*.zip
docs/data/fl_zip_evictions.geojson
data/fl_zip_evictions.geojson


# keep only minified geojsons
docs/**/data_payday/*.geojson
!docs/**/data_payday/*.min.geojson

# (already recommended before)
docs/data/*.geojson
!docs/data/*.min.geojson
data/**/*.shp
data/**/*.dbf
data/**/*.shx
data/**/*.prj
data/**/*.cpg
data/**/*.zip
